---
import Layout from "../../layouts/Layout.astro";
import { getHomepages, getHomepage } from "../../utils/sanity";
import Sections from "../../components/Sections.astro";
import { locales } from "../../utils/i18n";
import Intro from "../../components/Intro";

export async function getStaticPaths() {
  let paths: Array<{ params: { locale: string } }> = [];

  for (const locale of locales) {
    const homepages = await getHomepages(locale);

    for (const _page of homepages) {
      paths.push({ params: { locale } });
    }
  }

  return paths;
}

const { locale } = Astro.params;
const homepage = await getHomepage(locale);

console.log("homepage", homepage);
---

<script>
  import { initAnalytics } from "../../utils/analytics";
  initAnalytics();
</script>

<Layout>
  <div class="">
    <Intro />
    {homepage?.sections && <Sections data={homepage.sections} />}
  </div>
</Layout>
