---
import Layout from "../layouts/Layout.astro";
import { getHomepage } from "../utils/sanity";
import Sections from "../components/Sections.astro";
import Intro from "../components/Intro";

const homepage = await getHomepage();
---

<script>
  import { initAnalytics } from "../utils/analytics";
  initAnalytics();
</script>

<Layout>
  <div class="">
    <Intro homepage={homepage} client:load />

    {homepage?.sections && <Sections data={homepage.sections} />}
  </div>
</Layout>
