---
import Layout from "../layouts/Layout.astro";
// import { getHomepage } from "../utils/sanity";
// import Sections from "../components/Sections.astro";
// import Intro from "../components/Intro";

// let homepage = null;
// let homepageError = false;

// try {
//   homepage = await getHomepage("en");
//   if (!homepage) {
//     homepageError = true;
//   }
// } catch (error) {
//   console.error("Error loading homepage from Sanity:", error);
//   homepageError = true;
// }
---

<!-- 
<script>
  import { initAnalytics } from "../utils/analytics";
  initAnalytics();
</script>
<script type="text/javascript" is:inline>
  !(function (e, t, n, s, u, a) {
    e.twq ||
      ((s = e.twq =
        function () {
          s.exe ? s.exe.apply(s, arguments) : s.queue.push(arguments);
        }),
      (s.version = "1.1"),
      (s.queue = []),
      (u = t.createElement(n)),
      (u.async = !0),
      (u.src = "https://static.ads-twitter.com/uwt.js"),
      (a = t.getElementsByTagName(n)[0]),
      a.parentNode.insertBefore(u, a));
  })(window, document, "script");
  twq("config", "p2ebm");
</script>
<script type="text/javascript" is:inline>
  // Insert Twitter Event ID
  twq("event", "tw-p2ebm-p2ebm", {});
</script>
<script
  defer
  type="text/javascript"
  is:inline
  src="https://wchl25.icphubs.org/script.js"
  data-website-id="4fe431f1-9533-4d92-95f5-efe3782368d3"></script> -->
<Layout>
  <!-- {
    homepageError ? (
      <div class="relative pt-32 text-center text-red-500">
        <h1 class="text-4xl font-bold">Error loading homepage</h1>
        <p>Please try again later or contact support.</p>
      </div>
    ) : (
      <div>
        <Intro homepage={homepage} client:load />
        {homepage?.sections && <Sections data={homepage.sections} />}
      </div>
    )
  } -->

  Home
</Layout>
