---
import { getLocalizedPosts, type Post } from "../utils/sanity";
import type { Params } from "astro";
import NewsCard from "./NewsCard.astro";

const { data } = Astro.props;
const { locale } = Astro.params as Params;

const POSTS_PER_PAGE = 999;
const initialPosts = await getLocalizedPosts(
  locale ?? "en",
  undefined,
  POSTS_PER_PAGE,
);
---

<section class="grid gap-16 pt-32 lg:pt-40">
  <div class="mx-auto flex max-w-3xl flex-col items-center gap-2 px-4 md:px-6">
    <h3 class="pill">{data.title}</h3>
    <h4 class="t-1 text-center font-[500]">{data.heroSection?.headline}</h4>
  </div>

  <div
    id="newsContainer"
    class="flex flex-col items-start border-b-2 border-black"
  >
    {initialPosts.map((post: Post) => <NewsCard data={post} />)}
  </div>

  <div id="loadMoreTrigger" class="h-10"></div>
</section>
