---
import { PortableText } from "astro-portabletext";
import SectionCardsRows from "./SectionCardsRows.astro";
import SectionCardsDefault from "./SectionCardsDefault";

const { data } = Astro.props;
---

<>
  {
    data?.map((item: any) => {
      if (item._type === "sectionCards" && item.layout === "rows") {
        return <SectionCardsRows data={item} />;
      } else if (item._type === "sectionCards" && item.layout !== "rows") {
        return <SectionCardsDefault data={item} client:load />;
      } else if (item._type === "sectionText") {
        return (
          <div class="portable-text portable-text mx-auto flex max-w-3xl flex-col items-start px-4 text-lg text-pretty md:px-6 lg:text-xl">
            <PortableText value={item.body} />
          </div>
        );
      }
    })
  }
</>
